@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  width: 80%;
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 5rem;
  margin-top: 8rem;
  color: darkblue;
}
.inputs {
  width: 100%;
  margin: 2rem auto;
}
.box{
  display: flex;
}
input {
  width: 100%;
  margin: auto;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  caret-color: orange;
  padding: 1rem;
  font-weight: bold;
  font-size: 3rem;
}
::placeholder {
  font-weight: bold;
  opacity: 0.6;
  font-size: 2vw;
}
select {
  padding: 0.3rem;
  margin-top: 3rem;
  background: transparent;
  outline: none;
  border: none;
  background-color: tan;
  color: indigo;
  font-weight: bold;
}
option {
  font-weight: bold;
  color: indigo;
}
#text {
  margin-right: 1rem;
}
.output {
  text-align: left;
  margin: 5%;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2vw;
}
audio {
  width: 100%;
}
.def {
  width: 100%;
}
h4 {
  font-size: 2vw;
}
span {
  color: sandybrown;
}
@media only screen and (max-width: 992px) {
  html {
    font-size: 85%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 576px) {
  html {
    font-size: 65%;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 55%;
  }
}
